.color-5E5E5E{
    color: #5e5e5e;
}
.information-bgc{
    background-color: #f3f3f3;
}
.header-icon{
    background-image: linear-gradient(180deg, #8DEFCB 0%, #8DEFCB 100%);  
}
.header-icon-two{
    background: #d8d8d8;
}
.header-icon-third{
    background: #AFAFAF;
}

.fontNoto{
   font-family: NotoSansCJKtc-Medium;
}
